p {
  font-family: "Noto Sans", sans-serif;
}

body {
  background-color: #eee;
}

.container {
  width: 1000px;
  margin: auto;
  background-color: #fff;
  padding-top: 50px;
}

.nav_bar {
  width: 1000px;
  background-color: black;
  display: flex;
  gap: 20px;
  padding: 0 20px;
  box-sizing: border-box;
  align-items: center;
  position: fixed;
  top: 0;
  margin: auto;
  z-index: 10;
}

.logo {
  background-color: orange;
  font-size: 20px;
  line-height: 30px;
}

.menu {
  display: flex;
}

.menu_list {
  color: #fff;
  line-height: 40px;
  padding: 0 10px;
  cursor: pointer;
  position: relative;
  background: #000;
  transition: all 1s;
}

.menu_list:hover {
  background-color: #999;
}

.submenu {
  display: none;
  position: absolute;
  top: 40px;
  left: 0;
  background-color: olive;
  width: 100px;
  text-align: center;
}

.menu_list:hover .submenu {
  display: block;
}

.sub_list:hover {
  background-color: #aaa;
}

.title {
  padding-bottom: 10px;
  border-bottom: 1px solid #555;
  margin: 10px 0;
  display: flex;
  gap: 40px;
  align-items: center;
}

.title h2 {
  font-size: 30px;
}

.section_block {
  padding: 0 20px;
  margin-bottom: 40px;
}

.card_area {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.cards {
  width: calc((100% - 20px) / 3);
  background: url("http://fakeimg.pl/120x150/") no-repeat bottom right pink;
  box-sizing: border-box;
  padding: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.card_label {
  background-color: #fff;
  padding: 5px;
  font-size: 12px;
}

.cards h3 {
  font-size: 20px;
  width: 200px;
}

n .tab_area {
  display: flex;
  gap: 30px;
}

.products_section {
  background: #f5f5f7;
  border-radius: 5px;
  padding: 40px 20px;
}

.title {
  position: relative;
}
.title::before {
  content: "標題:";
}

.title::after {
  content: "";
  width: 10%;
  height: 5px;
  background: rgb(254, 125, 146);
  position: absolute;
  left: 0;
  bottom: 0;
  margin: auto;
  transition: width 0.5s, background 0.3s 0.5s;
}

.title:hover::after {
  width: 100%;
  background-color: rgb(15, 112, 13);
}

.t-style::before {
  content: "";
  border-left: 5px solid olive;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  width: 0;
  height: 0;
  display: inline-block;
  margin: 0 5px;
}
